.not-found__container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found__content {
    text-align: center;
}

.not-found__title {
    font-size: 60px;
    margin-bottom: 15px;
}
